---
layout: default
title: User support
konqi: assets/img/konqi-docbook.png
sorted: 4
plateforms:
  - name: UserBase Wiki
    description: >
      Got lost in the features? Want to know how to install and use KDE Connect?
      Having trouble with some features? The UserBase Wiki is a great place
      to start. It provides information for end users on how to use and
      configure KDE Connect.
    image: /assets/img/help-browser.svg
    learn-more:
      text: UserBase Wiki
      link: https://userbase.kde.org/KDEConnect
  - name: KDE Discuss
    description: >
      Having an issue or want to discuss a problem? KDE Discuss is a good place
      to do this. Maybe someone has already solved a similar problem. And if not,
      feel free to ask there!
    image: /assets/img/yast-users.svg
    learn-more:
      text: KDE Discuss
      link: https://discuss.kde.org/
  - name: Found a Bug? Request a new feature?
    description: >
      Bugs always happen and we need to fix them. KDE Connect has many features
      and we can add more. Both of these can happen with a little help from
      you. You can file bugs and new feature requests on our Bugzilla.
      You may not get an immediate response for feature requests, but it may get
      picked up in the future.
    image: /assets/img/dialog-error.svg
    learn-more:
      text: Bugzilla
      link: https://bugs.kde.org/
  - name: Mailing List
    description: >
      Still can't resolve the issue. Why not get in touch through email?
      Developers and other users including enthusiasts can help you out.
    image: /assets/img/internet-mail.svg
    learn-more:
      text: Mailing List
      link: https://mail.kde.org/mailman/listinfo/kdeconnect
---

<section class="topkonqi">
  <h3 class="p-4">This is the help you need.</h3>

  <img
    alt="User Support"
    class="img-fluid w-25"
    src="assets/img/usersupportheader.png"
  />
</section>

<section id="plateform" class="container">
  {% for plateform in page.plateforms %}
  <div class="block mb-4 mt-4">
    <div class="kAppInfo">
      <div class="kAppInfo-content">
        <h2 class="down-head m-3">{{ plateform.name }}</h2>
        <p class="down-par m-3">
          {{ plateform.description }}
        </p>
        <a
          class="button learn-more getbutton m-3"
          href="{{ plateform.learn-more.link }}"
        >
          {{ plateform.learn-more.text }}
        </a>
      </div>

      <img
        alt="{{ plateform.name }}"
        class="img-fluid"
        style="min-width: 100px; max-width: 100px"
        src="{{ plateform.image }}"
      />
    </div>
  </div>
  {% endfor %}
</section>
